
  /*melon color: #320D6D */
  /*persian indigo color: #320D6D/
   /* Yellow color: #FFD447 */
   /* Plum color: #700353 */
   /* Brown color: #4C1C00  */
 /* dark blue color: #190E4F */
 /* melon pink #F92A82 */

body{
  background-color: #FFD447;
  margin-top:150px;
   font-family: helvetica;
   color: #190E4F

 }

 h1, p {
  text-align:center


 }
